<h2 mat-dialog-title>Créer un workspace</h2>
<mat-dialog-content class="login-form-content">
    <form class="login-form" (ngSubmit)="onSubmit()">

        <mat-form-field appearance="fill" class="mat-form-field-block">
            <mat-label>Nom</mat-label>
            <input matInput placeholder="Hobby" type="text" required name="name" [(ngModel)]="workspace.name">
        </mat-form-field>

        <mat-form-field appearance="fill" class="mat-form-field-block">
            <mat-label>Couleur</mat-label>
            <input matInput value="#ff00ff" type="color" required name="color" [(ngModel)]="workspace.color">
        </mat-form-field>

        <fieldset>
            <div>
                <input type="radio" id="private" required value=true name="PRIVATE" [(ngModel)]="isPrivate" checked>
                <label for="private">Privé</label>
            </div>
            <div>
                <input type="radio" id="public" required value=false name="PUBLIC" [(ngModel)]="isPrivate">
                <label for="public">Publique</label>
            </div>
        </fieldset>

        <mat-form-field appearance="fill" class="mat-form-field-block">
            <mat-label>Description</mat-label>
            <textarea matInput placeholder="description" required name="description" [(ngModel)]="workspace.description"></textarea>
        </mat-form-field>
    
    </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button (click)="onNoClick()">Annuler</button>
    <button mat-button type="submit" cdkFocusInitial (click)="onSubmit()">Créer</button>
</mat-dialog-actions>
