<h2 mat-dialog-title>Modifier une liste de tache</h2>
<mat-dialog-content class="login-form-content">
    <form class="login-form" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="fill" class="mat-form-field-block">
            <mat-label>Nom</mat-label>
            <input matInput type="text" required name="name" [(ngModel)]="list.name">
        </mat-form-field>

        <mat-form-field appearance="fill" class="mat-form-field-block">
            <mat-label>Couleur</mat-label>
            <input matInput type="color" required name="color" [(ngModel)]="list.color">
        </mat-form-field>

        <mat-form-field appearance="fill" class="mat-form-field-block">
            <mat-label>Description</mat-label>
            <textarea matInput placeholder="description" required name="description" [(ngModel)]="list.description"></textarea>
        </mat-form-field>
    
    </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button (click)="onNoClick()">Annuler</button>
    <button mat-button type="submit" cdkFocusInitial (click)="onSubmit()">Mettre à jour</button>
</mat-dialog-actions>
