.side-container {
    height: calc(100vh - 128px); 
    width: 100%; 
    background-color: #1976d2;
    overflow-y: hidden;
    text-align: center;
  }
  
  mat-sidenav {
    width: 250px; 
  }
  
  mat-sidenav-container {
    background-color: #fafafa; 
  }
  
  mat-toolbar {
    background-color: #1976d2; 
    color: white; 
  }
  
  .sidebar-scroll-container {
      max-height: calc(100vh - 276px) ; 
      overflow-y: auto;
  }
  
  button {
    margin: 10px; 
  }
  