h2 {
    text-align: center;
}

.login-form-content {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mat-form-field-block {
    width: 100%;
}

fieldset {
    border: none;
    color: black;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-around;
}

